Repository fluxcd/website, pull requests merged in 2021-11, with the labels that each got.

#618 sops: Use minimal, decrypt-only policy for AWS
  content/en/docs/guides/mozilla-sops.md
Labels: area/docs

#612 docs(webhook-receivers.md): responsiveness
  content/en/docs/guides/webhook-receivers.md
Labels: question

#623 Add `fluxcd.io/ignore` equivalent to migration FAQ
  content/en/docs/migration/faq-migration.md
Labels: area/docs

#637 Explain how to leverage image policy markers.
  content/en/docs/guides/image-update.md
Labels: area/docs

#641 Initial PR for Flux security documentation landing page
  config.toml
  content/en/docs/security/_index.md
Labels: area/docs, area/security

#632 Add Bitbucket Server bootstrap instructions to the install docs
  content/en/docs/installation.md
Labels: area/docs

#652 December 2021 blog post
  content/en/blog/2021-10-29-november-update/index.md
  content/en/blog/2021-11-30-december-update/Bitbucket@2x-blue.png
  content/en/blog/2021-11-30-december-update/blog-overview-featured.png
  content/en/blog/2021-11-30-december-update/giantswarm-blog-series.png
  content/en/blog/2021-11-30-december-update/index.md
Labels: area/blog
