Repository fluxcd/website, pull requests merged in 2021-09, with the labels that each got.

#494 docs: Change word imame to image
  content/en/docs/gitops-toolkit/packages.md
Labels: area/docs

#501 Update to new version of hugo
  .node-version
  .npmrc
  Makefile
  content/en/docs/contributing/docs/some-background.md
  docker-support/Dockerfile
  netlify.toml
  package-lock.json
  package.json
Labels: dependencies

#529 add flux ecosystem event blog post
  content/en/blog/2021-09-17-gitops-one-stop-shop-event.md
  static/img/2021-09-gitops-one-stop-shop-event.jpg
Labels: area/blog

#554 add blog post about server-side reconciliation
  content/en/blog/2021-09-29-server-side-reconciliation-is-coming.md
Labels: area/blog
