Repository fluxcd/website, pull requests merged in 2022-02, with the labels that each got.

#713 Update the Mozilla SOPS decryption with HashiCorp Vault section
  content/en/docs/guides/mozilla-sops.md
Labels: area/docs

#702 Add docs for autologin(ACR/ECR/GCR)
  content/en/docs/guides/cron-job-image-auth.md
  content/en/docs/guides/image-update.md
Labels: area/docs

#727 Update docs for Flux v0.26.0
  content/en/docs/faq.md
  content/en/docs/get-started.md
  content/en/docs/guides/cron-job-image-auth.md
  content/en/docs/installation.md
  content/en/docs/security/_index.md
Labels: area/docs

#730 add Jan 22 blog post
  content/en/blog/2022-01-31-january-update/featured-image.png
  content/en/blog/2022-01-31-january-update/index.md
Labels: area/blog

#731 add image of 'flux diff kustomization'
  content/en/blog/2022-01-31-january-update/featured-image.png
  content/en/blog/2022-01-31-january-update/flagger-kuma-canary.png
  content/en/blog/2022-01-31-january-update/index.md
Labels: area/blog

#743 point out security considerations to 'flux in short' section
  content/en/_index.html
Labels: landing page

#754 FAQ: Why are kubectl edits rolled back by Flux?
  content/en/docs/faq.md
Labels: area/docs

#752 add blog tags and post discussing SBOMs
  config.toml
  content/en/blog/2020-12-01-december-update/index.md
  content/en/blog/2021-01-06-january-update.md
  content/en/blog/2021-02-01-february-update.md
  content/en/blog/2021-03-01-march-update/index.md
  content/en/blog/2021-03-31-april-update.md
  content/en/blog/2021-04-29-may-update/index.md
  content/en/blog/2021-05-31-june-update/index.md
  content/en/blog/2021-07-02-july-update/index.md
  content/en/blog/2021-08-02-august-update/index.md
  content/en/blog/2021-08-30-september-update/index.md
  content/en/blog/2021-09-17-gitops-one-stop-shop-event/index.md
  content/en/blog/2021-10-01-october-update.md
  content/en/blog/2021-10-29-november-update/index.md
  content/en/blog/2021-11-10-flux-security-audit/index.md
  content/en/blog/2021-11-30-december-update/index.md
  content/en/blog/2022-01-31-january-update/index.md
  content/en/blog/2022-02-09-security-the-value-of-sboms/featured-image.png
  content/en/blog/2022-02-09-security-the-value-of-sboms/index.md
  content/en/docs/_index.md
  content/en/docs/security/_index.md
Labels: area/blog, area/security

#764 Add extra docs for azure
  content/en/docs/guides/image-update.md
Labels: area/docs

#762 add Security blog post about image provenance
  content/en/blog/2022-02-14-security-image-provenance/featured-sigstore-architecture.png
  content/en/blog/2022-02-14-security-image-provenance/index.md
  content/en/docs/security/_index.md
Labels: area/blog, area/security

#735 Update GA roadmap
  content/en/roadmap.md
Labels: area/roadmap

#769 Update flux-v1-migration.md
  content/en/docs/migration/flux-v1-migration.md
Labels: blocked-dco

#778 More detailed native Azure ACR auto-login docs
  content/en/docs/guides/image-update.md
Labels: area/docs

#779 Add Bootstrap cheatsheet
  content/en/docs/cheatsheets/_index.md
  content/en/docs/cheatsheets/bootstrap.md
  content/en/docs/installation.md
Labels: area/docs

#788 cheatsheet: Add oc commands to OpenShift bootstrap
  content/en/docs/cheatsheets/bootstrap.md
Labels: area/docs

#789 update openshift instructions
  content/en/docs/use-cases/openshift.md
Labels: area/docs

#791 Add security blog post about fuzzing
  content/en/blog/2022-02-22-security-fuzzing.md
Labels: area/blog, area/security

#796 Add a note about migration from cronjob to native authentication
  content/en/docs/guides/image-update.md
Labels: area/docs

#798 Update SOPS EKS/GKE annotation instructions
  content/en/docs/guides/image-update.md
  content/en/docs/guides/mozilla-sops.md
Labels: bug, area/docs
