Repository fluxcd/website, pull requests merged in 2022-11, with the labels that each got.

#1242 Add DKB Deutsche Kreditbank AG to adopters
  adopters/1-flux-v2.yaml
  adopters/logos/dkb.svg
Labels: area/adopters

#1246 simplify search - we don't distinguish between current/legacy any more
  layouts/partials/hooks/body-end.html
Labels: search

#1223 Promote next event
  assets/scss/_index.scss
  content/en/.gitignore
  content/en/_index.html
  hack/import-calendar.py
  layouts/shortcodes/blocks/next_event.html
Labels: events

#1243 add October blog post
  content/en/blog/2022-11-01-november-update/index.md
Labels: area/blog

#1248 oct blog: add wge image
  content/en/blog/2022-11-01-november-update/index.md
  content/en/blog/2022-11-01-november-update/weave-gitops-enterprise.png
Labels: area/blog

#1254 Add Amesto Fortytwo as adoptors
  adopters/1-flux-v2.yaml
  adopters/2-flagger.yaml
  adopters/logos/amestofortytwo.png
Labels: area/adopters

#1256 Update Dev install -> create kustomization from CLI
  content/en/flux/installation.md
Labels: area/docs

#1259 Add Divistant to adopters
  adopters/1-flux-v2.yaml
  adopters/2-flagger.yaml
  adopters/3-flux-v1.yaml
  adopters/logos/divistant.png
Labels: area/adopters

#1253 Add new blog about HelmCharts verification
  content/en/blog/2022-11-11-prove-the-authenticity-of-helm-charts/index.md
  content/en/blog/2022-11-11-prove-the-authenticity-of-helm-charts/verify-the-integrity-of-the-helm-charts-stored-as-oci-artifacts-before-reconciling-them-with-flux-featured.png
Labels: area/blog

#1264 Add HousingAnywhere to adopters
  adopters/1-flux-v2.yaml
  adopters/3-flux-v1.yaml
  adopters/logos/housing_anywhere.png
Labels: area/adopters

#1247 Add feature-based milestones to roadmap
  content/en/roadmap.md
Labels: area/roadmap

#1271 update flagger docs to 1.25.0
  content/en/flagger/faq.md
  content/en/flagger/tutorials/istio-progressive-delivery.md
  content/en/flagger/usage/deployment-strategies.md
Labels: area/docs

#1279 update wording for changes to force-push
  content/en/flux/use-cases/gh-actions-auto-pr.md
Labels: area/docs

#1278 Add table with feature gates
  content/en/flux/components/image/options.md
  content/en/flux/components/source/options.md
Labels: area/docs

#1280 update gateway api docs to v1beta1
  content/en/flagger/tutorials/gatewayapi-progressive-delivery.md
Labels: area/docs

#1282 Add DataGalaxy to adopters
  adopters/1-flux-v2.yaml
  adopters/logos/datagalaxy.svg
Labels: area/adopters

#1284 Add synyx to adopters
  adopters/1-flux-v2.yaml
  adopters/logos/synyx.png
Labels: area/adopters

#1290 Add template for monthly update blog posts
  hack/new-update-post.py
  templates/monthly-update.md
Labels: meta, area/blog

#1289 Flux Graduation announcement
  assets/scss/blocks/_blog.scss
  assets/scss/blocks/_hero.scss
  content/en/_index.html
  content/en/blog/2021-03-08-flux-is-a-cncf-incubation-project/index.md
  content/en/blog/2021-09-29-server-side-reconciliation-is-coming.md
  content/en/blog/2021-11-10-flux-security-audit/index.md
  content/en/blog/2022-03-11-flagger-is-adding-gateway-api/index.md
  content/en/blog/2022-04-04-march-update/index.md
  content/en/blog/2022-05-04-april-update.md
  content/en/blog/2022-11-30-flux-is-a-cncf-graduated-project/flux-graduation-featured.png
  content/en/blog/2022-11-30-flux-is-a-cncf-graduated-project/index.md
  content/en/flux/_index.md
  content/en/flux/flux-e2e.md
  content/en/resources.yaml
  layouts/docs/baseof.html
  layouts/partials/graduation.html
  layouts/shortcodes/blocks/cncf.html
  layouts/shortcodes/blocks/hero.html
  static/img/cncf-graduated.png
  templates/monthly-update.md
Labels: landing page, area/blog
