Repository fluxcd/website, pull requests merged in 2022-08, with the labels that each got.

#1063 Remove duplicate AWS EKS Anywhere and Weave GitOps entries
  content/en/ecosystem/index.md
Labels: area/ecosystem

#1066 Blog: Monthly update for July 2022
  content/en/blog/2022-08-02-july-update/arhell.jpg
  content/en/blog/2022-08-02-july-update/azure-gitops.png
  content/en/blog/2022-08-02-july-update/ecosystem1-featured.png
  content/en/blog/2022-08-02-july-update/ecosystem2.png
  content/en/blog/2022-08-02-july-update/index.md
  content/en/blog/2022-08-02-july-update/keda.png
Labels: area/blog

#1069 blog: Change text perspective of ecosystem entries
  content/en/blog/2022-08-02-july-update/index.md
Labels: area/blog

#1068 Mention Cyclonus for NetworkPolicy validation
  content/en/docs/security/best-practices.md
Labels: area/docs, area/security

#1073 Add Flux OCI documentation and example workflows
  content/en/docs/cheatsheets/oci-artifacts.md
  content/en/docs/components/_index.md
  content/en/docs/concepts.md
  content/en/docs/guides/notifications.md
  hack/import-flux2-assets.sh
Labels: area/docs

#1083 Add SOCKS5 ssh proxy for git docs
  content/en/docs/cheatsheets/bootstrap.md
Labels: area/docs

#1091 doc: missing parameter in example
  content/en/docs/cheatsheets/oci-artifacts.md
Labels: area/docs

#1092 Clarify how to make rollout restarts work with flux-client-side-apply
  content/en/docs/faq.md
Labels: area/docs

#1099 Add example for enabling notifications for 3rd party controllers
  content/en/docs/cheatsheets/bootstrap.md
Labels: area/docs

#1094 Update GA Roadmap
  content/en/roadmap.md
Labels: area/roadmap

#1103 Add Helm OCI auto-login docs
  content/en/docs/security/contextual-authorization.md
Labels: area/docs

#1116 Add NexHealth to adopters
  adopters/1-flux-v2.yaml
  adopters/2-flagger.yaml
  adopters/logos/nexhealth.svg
Labels: area/adopters
