Repository fluxcd/website, pull requests merged in 2022-06, with the labels that each got.

#975 Add AUTOPS to adopters
  adopters/1-flux-v2.yaml
  adopters/logos/autops.png
Labels: area/adopters

#976 monitoring: Add Loki and Flux logs to guide
  content/en/docs/guides/monitoring.md
  static/img/grafana-annotation.png
  static/img/logs-dashboard.png
Labels: area/docs

#977 add GitOps Days 2022 blog post
  content/en/blog/2022-06-03-gitops-days-2022/gitopsdays-2022-speakers.png
  content/en/blog/2022-06-03-gitops-days-2022/gitopsdays-featured.png
  content/en/blog/2022-06-03-gitops-days-2022/index.md
Labels: area/blog

#982 Document the controllers flags
  content/en/docs/components/helm/options.md
  content/en/docs/components/image/options.md
  content/en/docs/components/kustomize/options.md
  content/en/docs/components/notification/options.md
  content/en/docs/components/source/options.md
Labels: area/docs

#986 helm gh actions guide: Exclude events related to dependencies check
  content/en/docs/use-cases/gh-actions-helm-promotion.md
Labels: area/docs

#991 Feat: add kubevela as one of the Integration
  content/en/ecosystem.md
Labels: area/ecosystem

#988 Add "Karmada + Flux" user guide
  content/en/docs/use-cases/karmada.md
Labels: area/docs

#990 Add documentation for how to run jobs with Flux
  content/en/docs/use-cases/running-jobs.md
Labels: area/docs

#998 Use GITHUB_TOKEN to download Flux assets
  hack/import-flux2-assets.sh
Labels: meta

#999 Add MediaMarktSaturn to flux2 adopters and add logo to flagger and flux1
  adopters/1-flux-v2.yaml
  adopters/2-flagger.yaml
  adopters/3-flux-v1.yaml
  adopters/logos/mms-technology.svg
Labels: area/adopters

#1006 Add QuickTable to adopters
  adopters/1-flux-v2.yaml
  adopters/logos/quicktable.png
Labels: area/adopters

#1016 Adding J.B. Hunt to adopters
  adopters/2-flagger.yaml
  adopters/logos/jb-hunt.png
Labels: area/adopters

#994 Add --ssh-hostkey-algos to IAC docs
  content/en/docs/components/image/options.md
Labels: area/docs

#1017 Add SenseLabs to adopters
  adopters/1-flux-v2.yaml
  adopters/logos/senselabs.svg
Labels: area/adopters
