Repository fluxcd/website, pull requests merged in 2022-04, with the labels that each got.

#861 Fix old toolkit.fluxcd.io links, move most (internal) links to be relative
  content/en/blog/2020-12-01-december-update/index.md
  content/en/blog/2021-01-06-january-update.md
  content/en/blog/2021-02-01-february-update.md
  content/en/blog/2021-03-01-march-update/index.md
  content/en/blog/2021-03-08-flux-is-a-cncf-incubation-project/index.md
  content/en/blog/2021-03-31-april-update.md
  content/en/blog/2021-04-29-may-update/index.md
  content/en/blog/2021-05-31-june-update/index.md
  content/en/blog/2021-07-02-july-update/index.md
  content/en/blog/2021-08-02-august-update/index.md
  content/en/blog/2021-08-30-september-update/index.md
  content/en/blog/2021-10-01-october-update.md
  content/en/docs/faq.md
  content/en/docs/flux-e2e.md
  content/en/docs/guides/image-update.md
  content/en/docs/guides/monitoring.md
  content/en/docs/migration/flux-v1-migration.md
  content/en/docs/migration/helm-operator-migration.md
  content/en/docs/use-cases/jenkins.md
  content/en/legacy/flux/faq.md
  content/en/legacy/helm-operator/helmrelease-guide/automation.md
Labels: area/docs

#862 Mention Artifact Registry in image update docs
  content/en/docs/guides/image-update.md
Labels: area/docs

#867 Add March 2022 blog post
  content/en/blog/2022-04-04-march-update/dev-focus-featured.png
  content/en/blog/2022-04-04-march-update/fsa.png
  content/en/blog/2022-04-04-march-update/index.md
  content/en/blog/2022-04-04-march-update/weave-gitops2.png
  content/en/blog/2022-04-04-march-update/weave-gitops3.png
Labels: area/blog

#879 add toggle button to collapse navigation on mobile
  assets/scss/_index.scss
  assets/scss/blocks/_nav.scss
  layouts/partials/navbar.html
Labels: pretty

#881 add blog to show how to contribute to Flux
  content/en/blog/2022-04-13-contributing-to-flux.md
Labels: area/blog

#875 add missing hostname parameter
  content/en/docs/installation.md
Labels: area/docs

#901 Move rungway from legacy to v2 adopters
  adopters/1-flux-v2.yaml
  adopters/3-flux-v1.yaml
  adopters/logos/rungway.png
Labels: area/adopters

#906 fix project buttons on landing page, adjust links too
  content/en/_index.html
  content/en/legacy/flux/_index.md
  content/en/legacy/flux/introduction.md
  layouts/shortcodes/blocks/project.html
Labels: landing page
