Repository fluxcd/website, pull requests merged in 2022-10, with the labels that each got.

#1176 add september blog post
  content/en/blog/2022-10-04-september-update/flux+oci-featured.png
  content/en/blog/2022-10-04-september-update/fsa.png
  content/en/blog/2022-10-04-september-update/index.md
  content/en/blog/2022-10-04-september-update/rashedkvm.jpg
  content/en/blog/2022-10-04-september-update/wg-dependson.png
Labels: area/blog

#1178 fix links and update GitOpsCon schedule
  content/en/blog/2022-06-01-may-update/index.md
  content/en/blog/2022-08-02-july-update/index.md
  content/en/blog/2022-10-04-september-update/index.md
Labels: area/blog

#1184 Update source watcher guide
  content/en/flux/gitops-toolkit/source-watcher.md
Labels: area/docs

#1190 remove Flux Legacy from landing page
  content/en/_index.html
Labels: landing page

#1191 celebrate OCI support
  content/en/_index.html
Labels: landing page

#1195 fix helmrelease guide example .sops.yaml file
  content/en/flux/guides/helmreleases.md
Labels: area/docs

#1181 add raffis/gitops-zombies to the tools list
  content/en/ecosystem/index.md
Labels: area/ecosystem

#1199 Add Cyera to flux adopters
  adopters/1-flux-v2.yaml
  adopters/logos/cyera.svg
Labels: area/adopters

#1200 add LF trademarks bit in footer
  assets/scss/blocks/_cncf.scss
  layouts/shortcodes/blocks/cncf.html
Labels: landing page

#1175 Prove the Authenticity of the OCI Artifacts blog post
  content/en/blog/2022-10-04-prove-the-authenticity-of-the-oci-artifacts/flux-protects-you-against-ssca-featured.png
  content/en/blog/2022-10-04-prove-the-authenticity-of-the-oci-artifacts/index.md
Labels: area/blog

#1208 Add University of Bordeaux to adopters
  adopters/1-flux-v2.yaml
  adopters/logos/universite-bordeaux.png
Labels: area/adopters

#1136 Move to docsy as Hugo module
  .github/dependabot.yml
  .gitignore
  .stignore
  Makefile
  README.md
  assets/scss/main.scss
  config.yaml
  content/en/flux/migration/helm-operator-migration.md
  go.mod
  go.sum
  netlify.toml
  okteto.yml
Labels: meta

#1210 FAQ: Should I be using Kustomize remote bases?
  content/en/flux/faq.md
Labels: area/docs

#1212 landing page: Move calendar and community up
  assets/scss/_index.scss
  assets/scss/blocks/_calendar.scss
  content/en/_index.html
Labels: landing page

#1211 FAQ: Should I be using Kustomize Helm chart plugin?
  content/en/flux/faq.md
Labels: area/docs

#1213 add KubeCon 2022 NA blog post
  content/en/blog/2022-10-19-kubecon-2022-na/index.md
  content/en/blog/2022-10-19-kubecon-2022-na/kubecon-featured.png
Labels: area/blog

#1215 removed archived projects
  content/en/ecosystem/index.md
Labels: area/ecosystem

#1216 Add Hem chart verification section to OCI docs
  content/en/flux/cheatsheets/oci-artifacts.md
  content/en/flux/faq.md
Labels: area/docs

#1217 Publish Flagger v1.24.0 docs
  content/en/flagger/_index.md
  content/en/flagger/install/flagger-install-on-alibaba-servicemesh.md
  content/en/flagger/install/flagger-install-on-eks-appmesh.md
  content/en/flagger/install/flagger-install-on-google-cloud.md
  content/en/flagger/install/flagger-install-on-kubernetes.md
  content/en/flagger/install/flagger-install-with-flux.md
  content/en/flagger/usage/alerting.md
Labels: area/docs

#1221 Add Pulumi operator as an integration
  content/en/ecosystem/index.md
Labels: area/ecosystem

#1227 Update roadmap after Flux v0.36 release
  content/en/roadmap.md
Labels: area/roadmap

#1229 New Weaveworks GitOps enterprise URL
  content/en/ecosystem/index.md
Labels: area/ecosystem

#1230 Fix URL for Weave Gitops Enterprise
  content/en/ecosystem/index.md
Labels: area/ecosystem

#1232 Addendum on support for security best practices
  content/en/flux/security/best-practices.md
Labels: area/docs

#1233 Add J.B. Hunt to adopters
  adopters/1-flux-v2.yaml
Labels: area/adopters

#1236 update youtube channel url and description
  config.yaml
Labels: landing page

#1237 Add Syneki to adopters
  adopters/1-flux-v2.yaml
  adopters/2-flagger.yaml
  adopters/logos/syneki.svg
Labels: area/adopters
