Repository fluxcd/website, pull requests merged in 2022-07, with the labels that each got.

#1021 add June blog
  content/en/blog/2022-01-31-january-update/index.md
  content/en/blog/2022-03-01-february-update/index.md
  content/en/blog/2022-04-04-march-update/index.md
  content/en/blog/2022-05-04-april-update.md
  content/en/blog/2022-06-01-may-update/index.md
  content/en/blog/2022-07-04-june-update/index.md
  content/en/blog/2022-07-04-june-update/kcdafrica.png
  content/en/blog/2022-07-04-june-update/kluctl-blog.jpg
Labels: area/blog

#1011 GitHub Actions App Build guide
  content/en/docs/use-cases/gh-actions-app-builder.md
Labels: area/docs

#936 Move to Algolia v3
  layouts/partials/hooks/body-end.html
  layouts/partials/hooks/head-end.html
  layouts/partials/search-input.html
Labels: meta

#1033 Add troubleshooting cheatsheet
  content/en/docs/cheatsheets/troubleshooting.md
  content/en/docs/faq.md
Labels: area/docs

#1037 Add Mintmesh to adopters
  adopters/1-flux-v2.yaml
  adopters/logos/mintmesh.png
Labels: area/adopters

#1040 Changed tense in a few spots to be consistent
  content/en/blog/2022-07-11-gitopsdays-vscode-extension-demo/index.md
Labels: area/blog

#1036 Update packages.md
  content/en/docs/gitops-toolkit/packages.md
Labels: area/docs

#1041 update Flagger docs to 1.22
  content/en/flagger/SUMMARY.md
  content/en/flagger/install/flagger-install-on-alibaba-servicemesh.md
  content/en/flagger/tutorials/contour-progressive-delivery.md
  content/en/flagger/tutorials/keda-scaledobject.md
  content/en/flagger/usage/how-it-works.md
  content/en/flagger/usage/metrics.md
Labels: area/docs

#1044 Add troubleshooting note for k3s HelmChart
  content/en/docs/cheatsheets/troubleshooting.md
Labels: area/docs

#1023 Redesign ecosystem page
  assets/scss/_ecosystem.scss
  content/en/ecosystem/index.md
Labels: help wanted

#1043 update to new versions of themes (docsy, gallery)
  Makefile
  assets/scss/_adopters.scss
  assets/scss/_ecosystem.scss
  assets/scss/_sidebar.scss
  assets/scss/main.scss
  content/en/docs/cmd/_index.md
  content/en/docs/installation.md
  layouts/partials/sidebar-tree.html
Labels: meta

#1047 drop note about security page being WIP
  content/en/docs/security/_index.md
Labels: area/security

#1045 Add security best practices
  content/en/docs/security/_index.md
  content/en/docs/security/best-practices.md
Labels: area/docs, area/security

#992 Update Azure doc now that we support OCI Helm Repositories
  content/en/docs/use-cases/azure.md
Labels: area/docs

#1046 Updating resources section on Homepage
  content/en/_index.html
Labels: landing page

#1055 flagger: add KEDA tutorial to nav
  content/en/flagger/tutorials/keda-scaledobject.md
  content/en/flagger/tutorials/zero-downtime-deployments.md
Labels: area/flagger
