Repository fluxcd/website, pull requests merged in 2022-05, with the labels that each got.

#912 Add the deploy key rotation procedure to install docs
  content/en/docs/installation.md
Labels: area/docs

#911 Add April 2022 monthly update
  content/en/blog/2022-05-04-april-update.md
Labels: area/blog

#914 cancel Bug Bash participation
  content/en/blog/2022-04-04-march-update/index.md
  content/en/blog/2022-04-13-contributing-to-flux.md
  content/en/blog/2022-05-04-april-update.md
Labels: area/blog

#916 Update bootstrap docs
  content/en/docs/cheatsheets/bootstrap.md
  content/en/docs/installation.md
Labels: area/docs

#917 ecosystem: add 23technologies/gardener-extension-shoot-flux
  content/en/ecosystem.md
Labels: area/ecosystem

#925 Add Aily Labs to adopters
  adopters/1-flux-v2.yaml
  adopters/logos/aily-labs.png
Labels: area/adopters

#928 Blog post: May 2022 Security Announcement
  content/en/blog/2022-05-10-may-2022-security-announcement.md
Labels: area/blog, area/security

#929 Update docsy to latest
  Makefile
  layouts/partials/hooks/body-end.html
  layouts/partials/hooks/head-end.html
  layouts/partials/page-meta-links.html
Labels: meta

#933 blog post about Flux at KubeCon EU 2022
  content/en/blog/2022-05-12-flux-at-kubecon-eu-2022/flexyourflux.png
  content/en/blog/2022-05-12-flux-at-kubecon-eu-2022/flux-events.png
  content/en/blog/2022-05-12-flux-at-kubecon-eu-2022/index.md
  content/en/blog/2022-05-12-flux-at-kubecon-eu-2022/kubecon-featured.png
  content/en/blog/2022-05-12-flux-at-kubecon-eu-2022/team-flux-at-kubecon.png
Labels: area/blog

#935 update docsy to latest
  Makefile
  layouts/partials/page-meta-links.html
Labels: meta

#937 use old search widget - can be dropped once we merge #931
  layouts/partials/search-input.html
Labels: bug, meta

#938 Add SSH Key ID to AWS CodeCommit
  content/en/docs/use-cases/aws-codecommit.md
Labels: area/docs

#939 update project meeting schedule
  content/en/blog/2022-05-12-flux-at-kubecon-eu-2022/index.md
Labels: area/blog

#952 Update Hugo to 0.99.1
  netlify.toml
Labels: dependencies

#956 Kubecon Wrap-Up blog post
  .gitignore
  Makefile
  assets/scss/_gallery.scss
  assets/scss/main.scss
  config.toml
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/GitOps-Days-2022-Logo-1.png
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/deep-dive1.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/deep-dive2.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flexyourflux.png
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52084412443_2bdea47ddf_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52089619152_d00d9f22a3_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52089619257_e00f636fba_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52090652821_c360ab9317_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52090898039_87b305e163_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52091155465_4d88d8ecb1_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52092455342_703ee45bd5_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52092455417_8bf417d644_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52092506562_bf7483211d_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52093479261_9ea319196b_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52093497018_73c745affa_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52093525891_8253f5cf92_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52093530256_67a260e379_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52093717104_ce15c3f6ed_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/flickr/52093717219_1d82e890b0_c.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/gitopscon.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/index.md
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/kubecon-welcome-featured.jpg
  content/en/blog/2022-05-25-kubecon-eu-2022-wrapup/project-meeting.jpg
Labels: area/blog

#959 Add Axel Springer SE to adopters
  adopters/1-flux-v2.yaml
  adopters/2-flagger.yaml
  adopters/3-flux-v1.yaml
  adopters/logos/axel-springer.png
Labels: area/adopters
