Repository fluxcd/website, pull requests merged in 2022-12, with the labels that each got.

#1291 Add November monthly update
  content/en/blog/2022-12-01-november-update/flux-graduation-featured.png
  content/en/blog/2022-12-01-november-update/index.md
  content/en/resources.yaml
  templates/monthly-update.md
Labels: area/blog

#1305 generate endorsements section from YAML
  Makefile
  content/en/.gitignore
  content/en/_index.html
  data/endorsements.yaml
  hack/endorsements.py
  layouts/shortcodes/blocks/carousel.html
  layouts/shortcodes/blocks/endorsements.html
  requirements.txt
Labels: meta

#1308 Persistent storage for Flux internal artifacts
  content/en/flux/cheatsheets/bootstrap.md
  content/en/flux/cheatsheets/oci-artifacts.md
Labels: area/docs

#1315 FAQ: How can I safely rename a Flux Kustomization?
  content/en/flux/faq.md
Labels: area/docs

#1297 docs: remove graduation highlight
  assets/scss/blocks/_blog.scss
  layouts/docs/baseof.html
  layouts/partials/graduation.html
Labels: area/docs

#1324 feat: add DoneOps to adopters page
  content/en/support.md
  data/adopters/1-flux-v2.yaml
  data/adopters/3-flux-v1.yaml
  static/img/logos/doneops.svg
Labels: area/adopters

#1332 Add Riley to adopters
  data/adopters/1-flux-v2.yaml
  data/adopters/3-flux-v1.yaml
  static/img/logos/riley.png
Labels: area/adopters
