Repository fluxcd/website, pull requests merged in 2022-03, with the labels that each got.

#806 2022 February monthly update
  content/en/blog/2021-11-10-flux-security-audit/index.md
  content/en/blog/2022-03-01-february-update/cluster-sync-diagram-featured.png
  content/en/blog/2022-03-01-february-update/index.md
  content/en/blog/2022-03-01-february-update/paulo-gomes.jpg
Labels: area/blog

#822 Add blog entry about pod security standard 'restricted'
  content/en/blog/2022-03-09-pod-security-standard-restricted.md
Labels: area/blog

#825 Update SOPS Age and Vault instructions
  content/en/docs/guides/mozilla-sops.md
Labels: area/docs

#827 add blog post for Flagger release
  content/en/blog/2022-03-11-flagger-is-adding-gateway-api/api-model.png
  content/en/blog/2022-03-11-flagger-is-adding-gateway-api/featured-flagger-gatewayapi-canary.png
  content/en/blog/2022-03-11-flagger-is-adding-gateway-api/flagger-canary-steps.png
  content/en/blog/2022-03-11-flagger-is-adding-gateway-api/index.md
Labels: area/blog

#844 FAQ: How can I safely move resources from one dir to another
  content/en/docs/faq.md
Labels: area/docs

#846 Fix comands in ecr-credentials-sync CronJob
  content/en/docs/guides/cron-job-image-auth.md
Labels: bug

#847 FAQ: How to debug "install retries exhausted" Helm errors
  content/en/docs/faq.md
Labels: area/docs

#848 cheatsheet: Using HTTP/S proxy for egress traffic
  content/en/docs/cheatsheets/bootstrap.md
Labels: area/docs

#842 Update samples to v1beta2 source API
  content/en/docs/faq.md
  content/en/docs/flux-e2e.md
  content/en/docs/get-started.md
  content/en/docs/guides/helmreleases.md
  content/en/docs/guides/mozilla-sops.md
  content/en/docs/guides/sealed-secrets.md
  content/en/docs/guides/webhook-receivers.md
  content/en/docs/migration/helm-operator-migration.md
  content/en/docs/use-cases/gh-actions-manifest-generation.md
  content/en/docs/use-cases/helm.md
  content/en/roadmap.md
Labels: area/docs

#841 Add `kustomize.toolkit.fluxcd.io/ssa: merge` to FAQ
  content/en/docs/faq.md
Labels: area/docs

#843 Blog post: how we integrate with Git
  content/en/blog/2022-03-25-putting-the-git-into-gitops/featured-git.png
  content/en/blog/2022-03-25-putting-the-git-into-gitops/index.md
Labels: area/blog
