Repository fluxcd/website, pull requests merged in 2023-06, with the labels that each got.

#1520 Add Matheus to May update
  content/en/blog/2023-06-06-may-update/index.md
Labels: area/blog

#1526 openshift: Explain how to remove the pod-security labels
  content/en/flux/use-cases/openshift.md
Labels: area/docs

#1528 Security: Recommend sharding for resource isolation
  content/en/flux/security/best-practices.md
Labels: area/docs, area/security

#1529 Fix link to sharding page
  content/en/flux/security/best-practices.md
Labels: area/docs

#1536 Update blog post to cosign 2.0
  content/en/blog/2022-02-14-security-image-provenance/index.md
Labels: area/blog, area/security
