Repository fluxcd/website, pull requests merged in 2023-11, with the labels that each got.

#1700 update hugo to v0.120.2
  netlify.toml
Labels: backport:v2-0

#1704 docs: replace `patchesStrategicMerge` with `patches`
  content/en/flux/guides/cron-job-image-auth.md
  content/en/flux/guides/mozilla-sops.md
  content/en/flux/guides/repository-structure.md
Labels: area/docs, area/flux

#1709 Add Tchibo to flagger adopters
  data/adopters/2-flagger.yaml
Labels: area/adopters, area/flagger

#1712 Update cosign verify certificate identity regexp
  content/en/flux/security/_index.md
Labels: area/docs, area/security

#1713 update hugo to v0.120.4
  netlify.toml
Labels: backport:v2-0

#1720 Add in-memory kustomize builds advice to scaling docs
  content/en/flux/installation/configuration/vertical-scaling.md
Labels: area/docs, area/flux

#1724 docs(cheatsheets/oci-artifacts): fix typo
  content/en/flux/cheatsheets/oci-artifacts.md
Labels: backport:v2-0
