Repository fluxcd/website, pull requests merged in 2023-09, with the labels that each got.

#1541 Add GitLab to ecosystem page
  content/en/ecosystem/index.md
  static/img/logos/azure.png
  static/img/logos/gitlab.svg
Labels: area/ecosystem

#1639 Add blog post announcing Flux v2.1.0
  assets/scss/_gallery.scss
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/images/grafana-cluster-dashboard-p1-featured.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/images/grafana-cluster-dashboard-p2.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/images/grafana-cp-dashboard-p1.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/images/grafana-cp-dashboard-p2.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/images/grafana-cp-dashboard-p3.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/images/grafana-cp-dashboard-p4.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/index.md
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/logos/ecovadis.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/logos/infolegale.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/logos/prophesee.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/logos/sonatype.png
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/logos/zeit-online.png
  templates/monthly-update.md
Labels: area/blog

#1653 Add notice on EOL and release information
  content/en/flux/releases/procedure.md
Labels: area/docs, area/flux

#1660 Include Open-Component-Descriptor in ecosystem
  content/en/ecosystem/index.md
Labels: area/ecosystem

#1661 Fix example in release procedure
  content/en/flux/releases/procedure.md
Labels: area/docs

#1664 Add a note for image automation to upgrade guide
  content/en/flux/installation/upgrade.md
Labels: area/docs, area/flux

#1675 update hugo to v0.119.0
  netlify.toml
Labels: backport:v2-0

#1678 Link to "release cadence" section from security page
  content/en/flux/security/_index.md
Labels: area/docs

#1681 FAQ: Explain how to use the `prune` annotation when moving resources
  content/en/flux/faq.md
Labels: area/docs, area/flux
