Repository fluxcd/website, pull requests merged in 2023-07, with the labels that each got.

#1538 Enhance the Helm promotion workflow
  content/en/flux/use-cases/gh-actions-helm-promotion.md
Labels: area/docs, enhancement, area/flux

#1542 Rename 'Migrate' to 'Migrate from Flux v1'
  content/en/flux/migration/_index.md
Labels: area/docs

#1543 Add releases section
  content/en/flux/faq.md
  content/en/flux/flux-e2e.md
  content/en/flux/releases/_index.md
  content/en/flux/releases/controllers.md
  content/en/flux/releases/packages.md
  content/en/flux/releases/procedure.md
Labels: area/docs, area/flux

#1546 Link to SLSA assessment from security index
  content/en/flux/security/_index.md
  content/en/flux/security/slsa-assessment.md
Labels: area/docs, area/security

#1547 Set Kubernetes min supported version to 1.24.0
  content/en/flux/get-started.md
  content/en/flux/installation.md
Labels: area/docs

#1552 Add Flux GitHub Action documentation
  content/en/flux/cheatsheets/oci-artifacts.md
  content/en/flux/cheatsheets/sharding.md
  content/en/flux/cmd/_index.md
  content/en/flux/flux-e2e.md
  content/en/flux/flux-gh-action.md
  content/en/flux/installation.md
  content/en/flux/releases/_index.md
  content/en/flux/security/_index.md
Labels: area/docs, area/flux

#1555 Added Sonatype to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/sonatype.png
Labels: area/adopters

#1558 Set sensible interval values
  content/en/flux/faq.md
  content/en/flux/get-started.md
  content/en/flux/guides/image-update.md
  content/en/flux/migration/flux-v1-automation-migration.md
Labels: area/docs

#1561 Add SBOM provenance verification to SLSA guide
  content/en/flux/security/slsa-assessment.md
Labels: area/docs, area/security, area/flux

#1563 Add infolegale Adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/infolegale.png
Labels: area/adopters

#1564 Mark some use-cases docs stale
  content/en/flux/flux-e2e.md
  content/en/flux/use-cases/gh-actions-app-builder.md
  content/en/flux/use-cases/gh-actions-auto-pr.md
  content/en/flux/use-cases/gh-actions-manifest-generation.md
  content/en/flux/use-cases/jenkins.md
  content/en/flux/use-cases/karmada.md
Labels: area/docs

#1571 Fix ordering of versions when pulling component docs
  hack/import-flux2-assets.sh
Labels: area/ci

#1570 Flux 2.0 GA Announcement
  content/en/blog/2023-07-17-june-update/index.md
  content/en/blog/2023-07-17-june-update/infographic-featured.png
Labels: area/blog

#1575 fix regex example in flux notification for helm release promotion
  content/en/flux/use-cases/gh-actions-helm-promotion.md
Labels: area/docs
