Repository fluxcd/website, pull requests merged in 2023-08, with the labels that each got.

#1596 Add ZEIT ONLINE to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/zeit-online.svg
Labels: area/adopters

#1593 Add backport automation
  .github/workflows/backport.yaml
Labels: backport:v2-0

#1602 Update roadmap
  content/en/roadmap.md
Labels: area/roadmap

#1604 update hugo to v0.116.1
  netlify.toml
Labels: backport:v2-0

#1615 update hugo to v0.117.0
  netlify.toml
Labels: backport:v2-0

#1610 Add custom metrics guide
  content/en/flux/monitoring/custom-metrics.md
Labels: area/docs, area/flux

#1619 components: document jitter flag
  content/en/flux/components/helm/options.md
  content/en/flux/components/kustomize/options.md
  content/en/flux/components/source/options.md
Labels: area/docs

#1628 Reorganise and improve the monitoring docs
  content/en/flux/guides/monitoring.md
  content/en/flux/migration/flux-v1-migration.md
  content/en/flux/monitoring/_index.md
  content/en/flux/monitoring/alerts.md
  content/en/flux/monitoring/custom-metrics.md
  content/en/flux/monitoring/events.md
  content/en/flux/monitoring/logs.md
  content/en/flux/monitoring/metrics.md
  static/_redirects
  static/img/grafana-cluster-dashboard-p1.png
  static/img/grafana-cluster-dashboard-p2.png
  static/img/grafana-cp-dashboard-p1.png
  static/img/grafana-cp-dashboard-p2.png
  static/img/grafana-cp-dashboard-p3.png
  static/img/grafana-cp-dashboard-p4.png
  static/img/grafana-logs-dashboard.png
Labels: area/docs, area/flux

#1636 Add section about Flux's cross-namespace policy
  content/en/flux/security/_index.md
Labels: area/security, area/flux

#1638 Add backport labels to release procedure
  content/en/flux/releases/procedure.md
Labels: area/docs, area/flux

#1641 fixed a typo github.md
  content/en/flux/installation/bootstrap/github.md
Labels: area/docs

#1644 Fix GHA cosign example
  content/en/flux/flux-gh-action.md
Labels: area/docs, area/flux
