Repository fluxcd/website, pull requests merged in 2024-06, with the labels that each got.

#1987 Remove references to Bink from adopters
  data/adopters/1-flux-v2.yaml
  data/adopters/3-flux-v1.yaml
  static/img/logos/bink.png
Labels: backport:v2-3

#1989 Add Zodia Markets to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/zodiamarkets.svg
Labels: area/adopters, backport:v2-3

#1990 Add Ænix to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/aenix.png
Labels: area/adopters, backport:v2-3

#1994 Add flux-operator to ecosystem
  content/en/ecosystem/index.md
  content/en/support.md
Labels: area/ecosystem, backport:v2-3

#1998 Ecosystem page
  content/en/ecosystem/index.md
Labels: area/ecosystem, backport:v2-3

#2003 chore: add Infomaniak as adopter
  data/adopters/1-flux-v2.yaml
  data/adopters/2-flagger.yaml
  static/img/logos/infomaniak.svg
Labels: area/adopters, backport:v2-3
