Repository fluxcd/website, pull requests merged in 2024-05, with the labels that each got.

#1944 Update SOPS documentation for Azure to use workload identity
  content/en/flux/guides/mozilla-sops.md
Labels: area/docs, area/flux

#1951 Update bootstrap guides and diagram
  content/en/flux/installation/bootstrap/azure-devops.md
  content/en/flux/installation/bootstrap/gitlab.md
  content/en/flux/installation/bootstrap/oracle-vbs-git-repositories.md
  static/img/diagrams/gitops-toolkit.png
Labels: area/docs, area/flux

#1952 Update the roadmap with supported Kubernetes versions
  content/en/flux/installation/_index.md
  content/en/roadmap.md
Labels: area/roadmap, area/flux

#1877 Update ImageUpdateAutomation to v1beta2 API
  content/en/flux/cheatsheets/oci-artifacts.md
  content/en/flux/gitops-toolkit/packages.md
  content/en/flux/guides/image-update.md
  content/en/flux/migration/flux-v1-automation-migration.md
Labels: area/docs, area/flux

#1953 blog: Announcing Flux 2.3 GA
  content/en/blog/2024-05-13-announcing-flux-v2.3.0/featured-image.png
  content/en/blog/2024-05-13-announcing-flux-v2.3.0/index.md
  content/en/roadmap.md
Labels: area/blog

#1909 Update documentation for Helm GA
  content/en/flagger/install/flagger-install-with-flux.md
  content/en/flux/cheatsheets/oci-artifacts.md
  content/en/flux/cheatsheets/troubleshooting.md
  content/en/flux/faq.md
  content/en/flux/flux-e2e.md
  content/en/flux/guides/helmreleases.md
  content/en/flux/guides/image-update.md
  content/en/flux/guides/repository-structure.md
  content/en/flux/guides/sealed-secrets.md
  content/en/flux/installation/configuration/sharding.md
  content/en/flux/migration/helm-operator-migration.md
  content/en/flux/use-cases/gh-actions-helm-promotion.md
  content/en/flux/use-cases/helm.md
  content/en/flux/use-cases/karmada.md
Labels: area/docs, area/api

#1961 Update monitoring metrics docs
  content/en/flux/monitoring/custom-metrics.md
  content/en/flux/monitoring/metrics.md
Labels: area/docs, backport:v2-3

#1960 Update website release instructions
  content/en/flux/releases/procedure.md
Labels: backport:v2-3

#1965 Announce "Release 2.3" blog
  content/en/_index.html
Labels: area/landing-page, backport:v2-3

#1967 Update dev guides to Flux v2.3
  content/en/flux/gitops-toolkit/debugging.md
  content/en/flux/gitops-toolkit/packages.md
  content/en/flux/gitops-toolkit/source-watcher.md
Labels: area/docs, area/flux, backport:v2-3

#1969 Add Decos to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/decos.jpg
Labels: area/adopters, backport:v2-3

#1911 Add notation signing and verification
  content/en/flux/cheatsheets/oci-artifacts.md
Labels: backport:v2-3

#1972 feat(adopters): Adding Pets at Home
  data/adopters/1-flux-v2.yaml
  static/img/logos/pets-at-home.png
Labels: area/adopters, backport:v2-3

#1975 Add platformengineers to adopters and add improwised logo
  data/adopters/1-flux-v2.yaml
  data/adopters/2-flagger.yaml
  data/adopters/3-flux-v1.yaml
  static/img/logos/improwised.png
  static/img/logos/platformengineers.png
Labels: area/adopters, backport:v2-3

#1977 update improwised logo in adopters
  static/img/logos/improwised.png
Labels: backport:v2-3

#1979 Update roadmap for Q3
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-3
