Repository fluxcd/website, pull requests merged in 2024-10, with the labels that each got.

#2064 Roadmap: Mark 2.4 milestone as completed
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-4

#2070 Add Trifork to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/trifork.png
Labels: area/adopters, backport:v2-4

#2075 Fix broken link in docs
  content/en/flux/guides/image-update.md
Labels: backport:v2-4

#2077 Salt Lake City Kubecon updates
  assets/scss/_kubecon.scss
  static/img/flux-kubecon-qr-code.png
Labels: area/events, backport:v2-4
