Repository fluxcd/website, pull requests merged in 2024-11, with the labels that each got.

#2084 Add notes on enabling automated pull requests, update actions version
  content/en/flux/flux-gh-action.md
Labels: area/docs, area/flux, backport:v2-4

#2086 Fix inconsistencies in receiver guide
  content/en/flux/guides/webhook-receivers.md
Labels: area/docs, backport:v2-4

#2087 Add Flux Plugin for Headlamp as a UI
  assets/img/uis/flux-headlamp-plugin-git-repos.png
  assets/img/uis/flux-headlamp-plugin-helm-release.png
  content/en/ecosystem/index.md
  layouts/shortcodes/blocks/flux_ui_galleries.html
Labels: area/ecosystem, backport:v2-4

#2091 Adding `--create-namespace` flag to the helm-install example
  content/en/flux/installation/_index.md
Labels: backport:v2-4

#2094 Add KubeCon SLC
  data/resources.yaml
Labels: area/resources, area/events, backport:v2-4

#2096 Add the Headlamp article as a resource
  data/resources.yaml
Labels: area/ecosystem, area/resources, backport:v2-4

#2097 Add FluxCD Azure DevOps article resource
  assets/scss/_index.scss
  data/resources.yaml
  layouts/partials/resource.html
  layouts/partials/template-resource.html
Labels: area/ecosystem, area/resources, backport:v2-4

#2100 Add Reddit KubeCon talk
  data/resources.yaml
Labels: area/resources, area/events, backport:v2-4

#2103 Weave dot works is down
  content/en/_index.html
  content/en/blog/2020-12-01-december-update/index.md
  content/en/blog/2021-01-06-january-update.md
  content/en/blog/2021-02-01-february-update.md
  content/en/blog/2021-03-01-march-update/index.md
  content/en/blog/2021-03-31-april-update.md
  content/en/blog/2021-04-29-may-update/index.md
  content/en/blog/2022-02-09-security-the-value-of-sboms/index.md
  content/en/blog/2022-04-04-march-update/index.md
  content/en/blog/2022-05-04-april-update.md
  content/en/blog/2022-06-01-may-update/index.md
  content/en/blog/2022-06-03-gitops-days-2022/index.md
  content/en/blog/2022-07-04-june-update/index.md
  content/en/blog/2022-08-02-july-update/index.md
  content/en/blog/2022-10-04-september-update/index.md
  content/en/blog/2022-11-01-november-update/index.md
  content/en/blog/2022-12-01-november-update/index.md
  content/en/blog/2023-02-01-january-update.md
  content/en/blog/2023-04-01-march-update/index.md
  content/en/blog/2023-04-04-how-to-use-weave-gitops-as-your-flux-ui/index.md
  content/en/blog/2023-05-02-april-update/index.md
  content/en/blog/2023-07-17-june-update/index.md
  content/en/blog/2023-08-28-announcing-flux-v2.1.0/index.md
  content/en/ecosystem/index.md
  data/adopters/1-flux-v2.yaml
  data/adopters/2-flagger.yaml
  data/adopters/3-flux-v1.yaml
  data/endorsements.yaml
Labels: area/blog, area/adopters, backport:v2-4
