Repository fluxcd/website, pull requests merged in 2024-07, with the labels that each got.

#2006 update blog folder links
  content/en/blog/2022-09-14-how-to-gitops-your-terraform/index.md
  content/en/blog/2023-04-01-march-update/index.md
Labels: backport:v2-3

#2010 Add bitbucketpipeline-dispather to Ancillary tools
  content/en/ecosystem/index.md
Labels: area/ecosystem, backport:v2-3

#2017 docs: Homogenize sharding label
  content/en/flux/components/helm/options.md
  content/en/flux/components/image/options.md
  content/en/flux/components/kustomize/options.md
  content/en/flux/components/source/options.md
  content/en/flux/installation/configuration/sharding.md
Labels: backport:v2-3

#2022 Add new video to resources.yaml
  data/resources.yaml
Labels: area/resources, backport:v2-3

#2024 Add gitopscon na 2024 videos to resources.yaml
  data/resources.yaml
Labels: area/resources, backport:v2-3

#2027 Update sharding.md with minor spelling changes
  content/en/flux/installation/configuration/sharding.md
Labels: backport:v2-3

#2026 Update custom metrics guide to HelmRelease v2
  content/en/flux/monitoring/custom-metrics.md
Labels: area/docs, area/flux, backport:v2-3
