Repository fluxcd/website, pull requests merged in 2024-04, with the labels that each got.

#1885 Update Roadmap for Q2
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-2

#1884 Add Flux BoF video to resources
  data/resources.yaml
Labels: area/resources, area/events, backport:v2-2

#1889 Added Netic to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/netic.svg
Labels: area/adopters, backport:v2-2

#1893 add timestamp to fix calendar sort
  hack/import-calendar.py
Labels: area/events, backport:v2-2

#1900 Fix calendar import
  hack/import-calendar.py
Labels: backport:v2-2

#1904 Add Kubeapps to the "Flux UIs / GUIs"
  content/en/ecosystem/index.md
Labels: area/ecosystem, backport:v2-2

#1902 Upgrade go to 1.21, clean up build issues
  Dockerfile
  content/en/.gitignore
  go.mod
  hugo.yaml
Labels: dependencies, backport:v2-2

#1912 Adding links to the terraform provider examples
  content/en/flux/installation/_index.md
Labels: area/docs, area/flux

#1915 Fix MilliporeSigma.png 404
  data/adopters/1-flux-v2.yaml
  data/adopters/3-flux-v1.yaml
Labels: area/adopters, backport:v2-2

#1922 Fix calendar timing - stale events hang around too long
  hack/import-calendar.py
Labels: area/events, backport:v2-2

#1925 add replicated as adopter for flux v2 including logo
  data/adopters/1-flux-v2.yaml
  static/img/logos/replicated.png
Labels: area/adopters, backport:v2-2

#1927 Add AppsCode to FluxCD adopter list
  data/adopters/1-flux-v2.yaml
  static/img/logos/appscode.png
Labels: area/adopters, backport:v2-2

#1921 Update OpenShift bootstrap instruction
  content/en/flux/installation/configuration/openshift.md
Labels: area/docs, area/flux

#1931 Add bootstrap guide for Oracle VBS Git Repositories
  content/en/flux/installation/_index.md
  content/en/flux/installation/bootstrap/generic-git-server.md
  content/en/flux/installation/bootstrap/oracle-vbs-git-repositories.md
Labels: area/docs, area/flux

#1903 Improve the air-gapped with `flux bootstrap --registry-creds`
  content/en/flux/installation/configuration/air-gapped.md
Labels: enhancement, area/flux

#1935 Add Rad AI to list of adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/radai.svg
Labels: area/adopters, backport:v2-2

#1938 Update the roadmap for Q2/Q3
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-2

#1936 Update Azure DevOps docs with RSA SHA-2 keys
  content/en/flux/installation/bootstrap/azure-devops.md
  content/en/flux/installation/bootstrap/generic-git-server.md
Labels: area/docs, area/flux, backport:v2-2
