Repository fluxcd/website, pull requests merged in 2024-09, with the labels that each got.

#2049 Add `winget` to CLI windows installation instructions
  content/en/flux/cmd/_index.md
Labels: area/docs, area/flux

#2052 Update roadmap for Flux v2.4 (final)
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-3

#2054 Update flux-v1-automation-migration.md to replace deprecated/removed --branch with --{checkout,push}-branch
  content/en/flux/migration/flux-v1-automation-migration.md
Labels: area/docs, area/flux

#2055 add Sylva to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/sylva.svg
Labels: area/adopters

#2060 Add Flux 2.4 blog post
  content/en/blog/2024-09-30-announcing-flux-v2.4.0/featured-image.png
  content/en/blog/2024-09-30-announcing-flux-v2.4.0/index.md
  content/en/flux/installation/_index.md
Labels: area/blog, backport:v2-4

#2062 Update announce banner to Release 2.4 blog
  content/en/_index.html
Labels: backport:v2-4
