Repository fluxcd/website, pull requests merged in 2024-12, with the labels that each got.

#2107 Describing sops encrypted_regex case in docs.
  content/en/flux/guides/mozilla-sops.md
Labels: area/docs, area/flux

#2110 Fix typo in github.md
  content/en/flux/installation/bootstrap/github.md
Labels: backport:v2-4

#2113 Add Ahiho and CharClub AI to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/ahiho.svg
  static/img/logos/charclub-ai.svg
Labels: area/adopters, backport:v2-4
