Repository fluxcd/website, pull requests merged in 2024-02, with the labels that each got.

#1798 Add fluxcd-kustomize-mutating-webhook to ecosystem
  content/en/ecosystem/index.md
Labels: area/ecosystem, backport:v2-2

#1806 Update header banner to 2.2 release blog
  content/en/_index.html
  content/en/ecosystem/index.md
  content/en/support.md
Labels: backport:v2-2

#1809 Add ControlPlane to Flux ecosystem and support pages
  content/en/ecosystem/index.md
  content/en/support.md
  static/img/logos/controlplane.png
Labels: area/ecosystem, backport:v2-2

#1811 Add Ænix to the Adopters list
  data/adopters/1-flux-v2.yaml
  static/img/logos/aenix.svg
Labels: area/adopters, backport:v2-2

#1819 Adding Capacitor to the Ecosystem page
  assets/img/uis/capacitor-flux-resources.png
  assets/img/uis/capacitor-services.png
  content/en/ecosystem/index.md
  layouts/shortcodes/blocks/flux_ui_galleries.html
Labels: area/ecosystem, backport:v2-2

#1824 Add OpsMx to adopters
  data/adopters/1-flux-v2.yaml
  data/adopters/2-flagger.yaml
  static/img/logos/OpsMx.png
Labels: area/adopters, backport:v2-2

#1826 Fix aenix logo in adopters
  data/adopters/1-flux-v2.yaml
Labels: area/adopters

#1828 Move tf-controller, eksctl
  content/en/ecosystem/index.md
Labels: area/ecosystem, backport:v2-2

#1830 add images for Flux Kubecon page
  static/img/blob-waving.gif
  static/img/flux-cuttlefish-stickers.jpeg
  static/img/flux-horizontal-color.png
Labels: area/events, backport:v2-2

#1815 Blog post: Introducing Capacitor
  content/en/blog/2024-02-27-introducing-capacitor/images/application-logs.png
  content/en/blog/2024-02-27-introducing-capacitor/images/capacitor-flux-resources.png
  content/en/blog/2024-02-27-introducing-capacitor/images/capacitor.png
  content/en/blog/2024-02-27-introducing-capacitor/images/click2.gif
  content/en/blog/2024-02-27-introducing-capacitor/images/featured-img.png
  content/en/blog/2024-02-27-introducing-capacitor/images/servicecard.png
  content/en/blog/2024-02-27-introducing-capacitor/index.md
Labels: area/blog, backport:v2-2
