Repository fluxcd/website, pull requests merged in 2024-03, with the labels that each got.

#1804 Add Kubecon page for KubeCon Paris 2024
  assets/scss/_kubecon.scss
  assets/scss/main.scss
  external-sources/fluxcd/community
  hugo.yaml
Labels: area/events, backport:v2-2

#1840 Add repository_dispatch to trigger a website rebuild from fluxcd/community
  .github/workflows/netlify.yml
Labels: area/docs, area/events

#1841 Add some repos in contributors.py
  hack/contributors.py
Labels: area/docs, backport:v2-2

#1838 Add image policy example for DockerHub format
  content/en/flux/guides/image-update.md
Labels: area/docs, area/flux, backport:v2-2

#1849 Update Luma Health as Flux v2 adopter
  data/adopters/1-flux-v2.yaml
  data/adopters/3-flux-v1.yaml
  static/img/logos/lumahealth.svg
Labels: area/adopters, backport:v2-2

#1852 Add Cisco to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/cisco.png
Labels: area/adopters, backport:v2-2

#1851 Add GitHub fine-grained PAT permission to bootstrap docs
  content/en/flux/get-started.md
  content/en/flux/installation/bootstrap/github.md
Labels: area/security, area/flux, backport:v2-2

#1854 Remove ResourceQuota from sharding overlay example
  content/en/flux/installation/configuration/sharding.md
Labels: backport:v2-2

#1847 Define the Flux roadmap for 2024
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-2

#1860 Remove article - broken link
  data/resources.yaml
Labels: area/resources, backport:v2-2

#1869 docs: Fix typo in documentation
  content/en/flux/use-cases/helm.md
Labels: area/docs, backport:v2-2

#1879 Hide the KubeCon Paris menu entry
  hugo.yaml
Labels: area/docs, area/events, backport:v2-2

#1882 Added KCL controller to list of extensions
  content/en/ecosystem/index.md
Labels: area/ecosystem, backport:v2-2
