Repository fluxcd/website, pull requests merged in 2025-06, with the labels that each got.

#2244 Add Flux Operator as an alternative bootstrap method
  content/en/flux/installation/_index.md
Labels: area/docs, area/ecosystem, backport:v2-6

#2246 Update Flux 2.6 blog post to include breaking changes
  content/en/blog/2025-05-29-announcing-flux-v2.6.0/index.md
Labels: area/docs, backport:v2-6

#2250 Blog about FluxCon NA 2025
  content/en/blog/2025-06-06-fluxcon-na-2025/featured-image.png
  content/en/blog/2025-06-06-fluxcon-na-2025/index.md
Labels: area/blog, backport:v2-6

#2252 Add information about Freelens extension
  assets/img/uis/freelens-dashboard.png
  assets/img/uis/freelens-kustomization.png
  content/en/ecosystem/index.md
  layouts/shortcodes/blocks/flux_ui_galleries.html
Labels: area/ecosystem, backport:v2-6

#2249 Fix GitHub Action syntax error and filter with if statement
  content/en/flux/use-cases/gh-actions-auto-pr.md
Labels: area/docs, area/flux, backport:v2-6

#2256 Add RBAC patch to remove Object-level Workload Identity
  content/en/flux/installation/configuration/multitenancy.md
  content/en/flux/security/_index.md
Labels: area/docs, area/security, area/flux, backport:v2-6

#2261 Promote OCI Repository and Bucket API to v1
  content/en/flux/gitops-toolkit/packages.md
Labels: area/docs, area/flux, backport:v2-6

#2263 docs(adopters): added sopra steria
  data/adopters/1-flux-v2.yaml
  data/adopters/2-flagger.yaml
  static/img/logos/soprasteria.png
Labels: backport:v2-6

#2270 doc: fixes incorrect link title
  content/en/flux/guides/mozilla-sops.md
Labels: backport:v2-6

#2272 Add docs for public ECR authentication
  content/en/flux/integrations/aws.md
Labels: area/docs, backport:v2-6

#2276 Update roadmap for Flux 2.7
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6

#2280 Fix broken link for AI Assisted GitOps (Flux MCP)
  content/en/blog/2025-05-29-announcing-flux-v2.6.0/index.md
Labels: backport:v2-6
