Repository fluxcd/website, pull requests merged in 2025-09, with the labels that each got.

#2340 Add GuaridOS to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/guaridos.png
Labels: backport:v2-6

#2346 Add OpenTelemetry and ExternalArtifact features to roadmap
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6

#2353 Set Kubernetes 1.32 as min supported version
  content/en/flux/installation/_index.md
  content/en/flux/installation/bootstrap/aws-codecommit.md
Labels: area/flux

#2354 docs: fix indentation in custom metrics example
  content/en/flux/monitoring/custom-metrics.md
Labels: backport:v2-6

#2357 Add kustomize-controller feature gate CancelHealthCheckOnNewRevision to roadmap
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6

#2363 Complete 2.7 roadmap
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6

#2373 Update all guides to `image.toolkit.fluxcd.io/v1`
  content/en/flux/cheatsheets/oci-artifacts.md
  content/en/flux/guides/image-update.md
  content/en/flux/guides/sortable-image-tags.md
  content/en/flux/migration/flux-v1-automation-migration.md
Labels: area/docs, area/flux, backport:v2-7
