Repository fluxcd/website, pull requests merged in 2025-05, with the labels that each got.

#2211 Add operation label to token cache event metric
  content/en/flux/monitoring/metrics.md
Labels: area/flux

#2214 Update roadmap with OCIRepository GA release
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-5

#2217 Update roadmap with `WaitForTermination` deletion policy
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-5

#2219 Fix typos and grammatical mistakes in fluxcd/website
  content/en/flux/installation/bootstrap/gitlab.md
Labels: backport:v2-5

#2221 Add blog post about the Flux Operator MCP Server
  content/en/blog/2025-05-14-ai-assisted-gitops/featured-image.png
  content/en/blog/2025-05-14-ai-assisted-gitops/flux-mcp-cluster-state.png
  content/en/blog/2025-05-14-ai-assisted-gitops/flux-mcp-diagram.png
  content/en/blog/2025-05-14-ai-assisted-gitops/flux-mcp-diff.png
  content/en/blog/2025-05-14-ai-assisted-gitops/fluxcd-ai-assisted-gitops.png
  content/en/blog/2025-05-14-ai-assisted-gitops/index.md
Labels: area/blog, area/ecosystem, backport:v2-5

#2224 Fix flux artifact command in roadmap
  content/en/roadmap.md
Labels: backport:v2-5

#2229 Update controller flags and feature gates
  content/en/flux/components/helm/options.md
  content/en/flux/components/image/options.md
  content/en/flux/components/kustomize/options.md
  content/en/flux/components/notification/options.md
  content/en/flux/components/source/options.md
Labels: area/flux

#2225 [RFC-0010] Add section for integrations
  content/en/blog/2022-01-31-january-update/index.md
  content/en/flux/guides/cron-job-image-auth.md
  content/en/flux/guides/mozilla-sops.md
  content/en/flux/installation/configuration/multitenancy.md
  content/en/flux/installation/configuration/workload-identity.md
  content/en/flux/integrations/_index.md
  content/en/flux/integrations/aws.md
  content/en/flux/integrations/azure.md
  content/en/flux/integrations/cross-cloud.md
  content/en/flux/integrations/gcp.md
  content/en/flux/security/contextual-authorization.md
Labels: area/docs, enhancement, area/security

#2231 Add image-reflector-controller flag for BadgerDB GC
  content/en/flux/components/image/options.md
Labels: area/docs

#2234 Update OCIRepository examples to v1 (GA)
  content/en/flux/cheatsheets/oci-artifacts.md
  content/en/flux/faq.md
  content/en/flux/guides/helmreleases.md
Labels: area/flux

#2235 Announcing Flux 2.6 GA
  content/en/blog/2025-05-29-announcing-flux-v2.6.0/featured-image.png
  content/en/blog/2025-05-29-announcing-flux-v2.6.0/index.md
  content/en/roadmap.md
Labels: area/blog, backport:v2-5
