Repository fluxcd/website, pull requests merged in 2025-07, with the labels that each got.

#2282 Update Roadmap
  content/en/roadmap.md
Labels: backport:v2-6

#2291 Update roadmap for Flux 2.7
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6

#2298 Add Gitless GitOps to core concepts
  content/en/flux/concepts.md
Labels: area/flux, backport:v2-6

#2302 Introduce label selector for watching ConfigMaps and Secrets
  content/en/flux/components/helm/options.md
  content/en/flux/components/kustomize/options.md
  content/en/flux/guides/helmreleases.md
Labels: enhancement

#2308 Complete Azure DevOps commit status OIDC in roadmap
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6

#2310 Update Roadmap
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6
