Repository fluxcd/website, pull requests merged in 2025-08, with the labels that each got.

#2314 Update Roadmap
  content/en/flux/cheatsheets/oci-artifacts.md
  content/en/flux/guides/helmreleases.md
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6

#2316 Update Roadmap
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6

#2318 Update Roadmap
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6

#2320 Fix left sidebar to use full height (#2136)
  assets/scss/blocks/_nav.scss
Labels: backport:v2-6

#2321 Azure private cloud configuration doc update
  content/en/flux/integrations/azure.md
Labels: area/docs, area/flux

#2326 Roadmap updates for Azure
  content/en/roadmap.md
Labels: backport:v2-6

#2328 Add Namirial to adopters
  data/adopters/1-flux-v2.yaml
  static/img/logos/namirial.png
Labels: backport:v2-6

#2330 Add missing v2.7 contributions to roadmap
  content/en/roadmap.md
Labels: area/roadmap, backport:v2-6
